<!DOCTYPE html>
<html lang="en"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsf/core"
    xmlns:jstl="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Test</title>
    </h:head>
	<h:body>
		<h1>Informació de client</h1>
		<jstl:choose>
			<jstl:when test="#{customer.id > 0}">
				<p>Id: #{customer.id}</p>
				<p>Nom: #{customer.firstName}</p>
				<p>Cognoms: #{customer.lastName}</p>		
			</jstl:when>
			<jstl:otherwise>
				<p>No existeix cap client amb aquest id.</p>
			</jstl:otherwise>
		</jstl:choose>
		
	</h:body>
</html>
