<!DOCTYPE html>
<html lang="en"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Test</title>
        <style>
        		.error {color:red}
        </style>
    </h:head>
	<h:body>
		<h1>Select Planets</h1>
		<c:choose>
			<c:when test="#{systemSolarList.size > 0}">
				<ul>
				<ui:repeat var="attendee" value="#{systemSolarList.attendees}">
					
						<li>#{attendee.name}</li>
				</ui:repeat>
				</ul>
				<select>				
					<ui:repeat var="attendee" value="#{systemSolarList.attendees}">
						
						<option label="#{attendee.name}" value="#{attendee.name}">#{attendee.name}</option>
					</ui:repeat>
				</select>
			</c:when>
			<c:otherwise>
				<p>No hi ha planetes.</p>
			</c:otherwise>
		</c:choose>
	</h:body>
</html>
