<!DOCTYPE html>
<html lang="en"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Test</title>
        <style>
        		.error {color:red}
        </style>
    </h:head>
	<h:body>
		<h1>Create Trader</h1>
		<h:form>
			Nom: <h:inputText value="#{trader.firstName}" label="Nom" id="firstNameId" requiered="true">
				
			</h:inputText>
			
			Cognom: <h:inputText value="#{trader.lastName}" label="Cognom" id="lastNameId" requiered="true">
				
			</h:inputText>
			
			MalNom: <h:inputText value="#{trader.nickName}" label="MalNom" id="nickNameId" requiered="true">

			</h:inputText>
			
			 Data: <h:inputText  value="#{trader.activityDate}" label="Data" id="activityDateId" requiered="true">  
			
				
			</h:inputText>
		
			<h:commandButton value="Crear" action="#{traderController.createTrader(trader)}" />
			
		</h:form>
	</h:body>
</html>
